:root{
    --bleu: #0065FC;
    --bleu-clair: #DEEBFF;
    --fond-gris: #F2F2F2;
}

@media (max-width: 768px) {
	#activ, #info-rslt, #search {
		padding: 0 5%;
		margin-top: 5%;
	}
	#bott-menu div {
		margin-bottom: 10%;
	}
	#cont-list-act .vgntt {
		margin-bottom: 20px;
	}
	#cont-list-act .vgntt img {
		height: 125px;
	}
	#cont-list-hbgt aside {
		background-color: var(--fond-gris);
	}
	#cont-list-hbgt aside, #list-hbgt {
		padding: 2% 5%;
	}
	footer {
		padding: 10% 5%;
		margin-top: 10%;
	}
	header p {
		float: right;
		margin-right: 5%;
	}
	header picture {
		margin: 5%;
		float: left;
	}
	#list-hbgt article img { height: 110px; }
	#list-plupop a {
		height: 125px;
		margin-bottom: 10px;
	}
	nav {
		clear: both;
	}
	nav li {
		width: 50%;
		text-align: center;
		padding: 15px 0;
		border-bottom: 2px solid var(--fond-gris);
	}
	nav li:hover, nav li:active {
		border-bottom: 2px solid;
		text-decoration: none;
	}
	#search div p {
		display: inline-block;
	}
	#search form a {
		background-image: url("img/search-ico.png");
		width: 21px;
		height: 40px;
		background-repeat: no-repeat;
		background-size: 19px;
		background-position: center;
		border-radius: 10px;
		margin-left: -5px;
	}
	section {
		margin: 30px auto;
	}
}
@media (min-width: 992px) {
	#bott-menu {
		display: flex;
		max-width: 1080px;
	}
	#bott-menu div{
		width: 25%;
	}
	#bott-menu div:not(:last-child) {
		margin-right: 10%;
	}
	#cont-list-act {
		height: 370px;
		justify-content: space-between;
		flex-wrap: wrap;
		align-content: space-between;
	}
	#cont-list-act .vgntt {
		width: 23%;
	}
	#cont-list-hbgt {
		display: flex;
		justify-content: space-between;
	}
	footer { 
		padding: 35px 0 50px;
		margin-top: 50px; 
	}
	header {
		min-height: 75px;
		display: flex;
		justify-content: flex-end;
	}
	header li {
		padding: 30px;
	}
	header p {
		order: 4;
	}
	header picture {
		align-self: flex-end;
		width: 62%;
	}
	header, main { max-width: 1080px; }
	#hebgmnt aside {
		display: flex;
		flex-direction: column;
		width: 26%;
		order: 2;
	}
	#hebgmnt aside, #hebgmnt #list-hbgt {
		background-color: var(--fond-gris);
		border-radius: 20px;
		padding: 10px 30px;
	}
	#hebgmnt #list-hbgt { max-width: 60%; }
	#list-hbgt article img { height: 88px; }
	#list-hbgt div {
		display: flex;
		justify-content: space-between;
		align-content: space-between;
		flex-wrap: wrap;
	}
	#list-hbgt div a {
		width: 31%;
	}
	#list-plupop a { height: 30%; }
	nav li:hover { border-top: 1px solid; }
	nav ul { margin-left: 30px; }
	#search form a {
		border-radius: 0 10px 10px 0;
	}
	#search form a::before { 
		content: "Rechercher";
	}
	#search div {
		display: flex;
		align-items: baseline;
	}
	section {
		margin: 30px auto 50px;
	}
	.vgntt.vgn-larg {
		height: 100%;
	}
	.vgntt.vgn-larg img {
		height: 89%;
	}
	.vgntt.vgn-smll img {
		height: 75%;
	}
}

body, div, p, article, section, a, span, form, fieldset, ul { 
    margin:0 ; 
    padding:0;
    font-family: "Raleway", sans-serif;
}
a { 
	text-decoration: none;
	color: inherit; 
}
body {
    margin: auto;
}
#bott-menu {
	margin: auto;
}
#bott-menu li {
	font-size: small;
	line-height: 25px;
}
#cont-list-act {
	display: flex;
	flex-direction: column;
}
#cont-list-act .vgntt {
	flex-direction: column;
	justify-content: space-between;
}
#cont-list-act .vgntt h3 {
	margin: 15px;
}
#cont-list-act .vgntt img {
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}
#cont-list-act .vgntt.vgn-smll {
	height: 45%;
}
#cont-list-hbgt h3, #list-hbgt article p, #list-plupop div p {
	margin-left: 10px;
}
.eval {
	color: lightgray;
}
.eval.fiv-str {
	color: var(--bleu);
}
.eval.fou-str span:not(span:last-child) {
	color: var(--bleu);
}
.eval.thr-str span:not(span:last-child, span:nth-of-type(4)) {
	color: var(--bleu);
}
footer {
	background-color: var(--fond-gris);
}
h2 {
	font-size: large;
	margin: 25px 0 20px;
}
h3 {
	font-size: small;
}
header, main {
	margin: auto;
}
header p {
	margin-left: 30px;
	margin-top: 30px;
	color: var(--bleu);
	font-weight: bold;
}
header p, header li { cursor: pointer; }
#hebgmnt aside div:first-child {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#hebgmnt #list-hbgt article h3 {
	margin-bottom: 5px;
	margin-top: 10px;
}
#hebgmnt #list-hbgt article p.eval {
	margin-bottom: 5px;
}
#info-rslt {
	display: flex;
	align-items: center;
	margin-bottom: 35px;
}
#info-rslt i {
	color: var(--bleu);
	margin-right: 5px;
	border-radius: 15px;
	border: 2px solid var(--fond-gris);
	padding: 5px 9px;
	font-size: x-small;
}
#list-hbgt a article {
	display: flex;
	flex-direction: column;
}
#list-hbgt article p.eval {
	flex-direction: row;
	justify-content: flex-start;
}
#list-hbgt article img {
	border-radius: 10px 10px 0 0;
	margin: 5px;
	object-fit: cover;
}
#list-hbgt div a {
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 25px;
}
#list-hbgt p:last-child:not(a p) {
	margin: 5px 0 25px;
}
#list-hbgt p:last-child a {
	font-weight: bold;
	font-size: smaller;
}
#list-plupop {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	margin-bottom: 10px;
}
#list-plupop a div {
	width: 50%;
	margin: 5px;
}
#list-plupop a .eval {
	margin-top: 30px;
}
#list-plupop a h3 {
	margin-top: 10px;
	margin-bottom: 5px;
}
#list-plupop a img {
	width: 35%;
	margin: 5px;
	border-radius: 10px 0 0px 10px;
	object-fit: cover;
}
nav li:hover {
	color: var(--bleu);
}
nav ul {
    display: flex;
}
.price {
	font-weight: bold;
	font-size: small;
}
.price span::after {
	content: " €";
}
.price span::before {
	content: "Nuit à partir de ";
	font-weight: normal;
	font-size: smaller;
}
#search { margin-bottom: 25px; }
#search div i {
	color: var(--bleu);
	border-radius: 60px;
	text-align: center;
	background-color: var(--bleu-clair);
	margin: -5px 5px -6px -11px;
	width: 40px;
	line-height: 40px;
}
#search div p {
	border: 2px solid var(--fond-gris);
	border-radius: 25px;
	padding: 4px 10px 5px;
	cursor: pointer;
	margin-left: 15px;
	font-weight: bold;
	border-left: none;
}
#search div p:hover { animation: anim-pfiltr 250ms forwards; }
#search div p:hover i { animation: anim-ifiltr 250ms forwards; }
#search form {
	margin: 15px 0 25px;
	display: flex;
	align-items: center;
}
#search form a {
	background-color: var(--bleu);
	color: white;
	line-height: 40px;
	font-size: smaller;
	font-weight: bolder;
	padding: 0 10px;
	cursor: pointer;
}
#search form i {
	background-color: var(--fond-gris);
	line-height: 40px;
	width: 45px;
	text-align: center;
	border-radius: 10px 0px 0 10px;
}
#search h1, #search p {
	margin-bottom: 10px;
}
#search h3 { font-size: medium; }
#search input {
	margin: 5px 0;
	padding: 10px;
	font-weight: bold;
	font-family: 'Raleway';
	border-color: var(--fond-gris);
	border-style: solid;
}
ul { list-style: none; }
.vgntt {
	display: flex;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 10px lightgray;
}

@keyframes anim-ifiltr{
	0% {
	  background: radial-gradient(ellipse at center, #deebff 0%,#deebff 99%,#0065fc 100%);
	  border-top-color: var(--bleu);
	}
	33% {
	  background: radial-gradient(ellipse at center, #deebff 0%,#deebff 70%,#0065fc 100%);
	  border-left-color: var(--bleu);
	}
	66% {
	  background: radial-gradient(ellipse at center, #deebff 0%,#deebff 40%,#0065fc 100%);
	  border-bottom-color: var(--bleu);
	}
	75% {
	  background: radial-gradient(ellipse at center, #deebff 0%,#0065fc 100%);
	}
	85% {
	  background: radial-gradient(ellipse at center, #deebff 0%,#0065fc 50%,#0065fc 100%);
	}
	85% {
	  background: radial-gradient(ellipse at center, #deebff 0%,#0065fc 20%,#0065fc 100%);
	  color: var(--bleu);
	}
	100% {
	  background: var(--bleu);
	  border-color: var(--bleu);
	  color: var(--bleu-clair);
	  border-width: 2px;
	}
  }
  
  @keyframes anim-pfiltr{
	0% {
	  border-top-color: var(--bleu-clair);
	}
	33% {
	  border-right-color: var(--bleu-clair);
	}
	66% {
	  border-bottom-color: var(--bleu-clair);
	}
	100% {
	  border-color: var(--bleu-clair);
	  color: var(--bleu);
	  box-shadow: 0px 0px 3px lightgray;
	}
  }